#kontakt a:hover{
    filter:brightness(150%)
}
#kontakt h4{
    margin: 0;
    color: inherit;
}
#email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--blue2);
}
    #email .icon{
        font-size: 2rem;
        margin-top: 3px;
        color: var(--blue2);
        cursor: pointer;
    }
    #email p{
        color:black;
        margin-left: 5px;
        margin-right:15px;
    }
#cv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
    color: var(--blue2);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid var(--blue2);
    padding-bottom: 3px;
}
    #cv .icon{
        font-size: 1.7rem;
        margin-left: 5px;
    }