.projects-overview{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-top: 40px;
}
.projects-overview a{
    text-decoration: none;
}
.projects-overview .project{
    /* Storlek i rem så att hover-texten har samma layout vid alla font-sizes*/
    width: 16rem;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 16px;
    overflow: hidden;
    /* Måste ha flex för att inte få ett glapp mellan bilden och undertextenm, */
    /* margin + padding 0 fungerar inte av någon anledning. */
    display: flex;
    flex-direction: column;
}
    .projects-overview .project p{            
        text-align: center;
        background-color: var(--white-darker);
        color: var(--blue3);
        font-size: 1rem;     
        font-weight: 600;  
        margin: 0;
        padding: 6px;
        padding-top: 4px;
    }
.projects-overview .image-wrapper{
    height: 9rem;
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0;
    position: relative;
}
    .projects-overview .image-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
.projects-overview .overlay{
    /* Måste ha z-index för att :after ska kunna ha z-index: -1 */
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: transparent;
    transition: var(--hover-transition-speed);
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}


/* --- Hover --- */
.projects-overview .project:hover .overlay{
    color: white;
}
.projects-overview .project:hover .overlay::after{
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--blue3);
    opacity: 0.6;            
}
.projects-overview .project:hover img{
    filter: blur(2px);
}