.carousel{
    --image-fadetime: 0.3s;

    width: 800px;
    max-width: 100%;
}
    .carousel .image-container.border{
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;        
    }
    .carousel .image-container.inner{
        background-color: var(--white-darker);
        position: relative;
        width: 100%;
        /* padding-top för att behålla aspect ratio när bredden ändras */
        /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
        padding-top: 60%;
        overflow: hidden;
        cursor: pointer;
        pointer-events: auto;
        z-index: 2;
    } 
    .carousel .image{
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
        display: block;
        /* Ingen fade ut, endast fade in */
        /* Fade ut ser konstigt ut med bilder i olika storlekar */
        animation: var(--image-fadetime) fade;
    }
        @keyframes fade {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    .carousel .overlay{
        z-index: 3;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: transparent;
        font-size: min(5rem, 12vw);
        /* pointer-events:none så att högerklick fungerar korrekt på bilderna */
        pointer-events: none;
        transition: var(--hover-transition-speed);
    }
        .carousel .overlay.active{
            background-color: rgba(255, 255, 255, 0.1);
            
        }
        .icon-inspect{
            transition: var(--hover-transition-speed);
            font-size: 0.5em;
            border-radius: 10px;       
            padding: 7px;
        }
            .carousel .overlay.active .icon-inspect{
                background-color: rgba(0, 0, 0, 0.8);
                color: rgb(240, 240, 240);
                font-size: 0.7em;
            }
        
    /* Texten måste ha en container/wrapper för att text-overflow ska fungera med width i procent. */
    .carousel .image-description-container{        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 2rem;
        width: 100%;
        max-width: 40rem;        
    }
        .carousel .image-description-container .text{
            color: rgb(80, 80, 80);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            animation: 0.15s dropdown-text ease-out;
        }
        @keyframes dropdown-text {
            from{ 
                margin-top: -60px;
                opacity: 0.3;
            }
            to{ 
                margin-top: 0px;
                opacity: 1;
            }
        }
.prev-image, .next-image{ 
    z-index: 4;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* padding istället för width och height */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    font-size: min(3rem, 9vw);
    border: 1px solid rgba(130, 130, 130, 0.7);
    user-select: none;
    /* flex för att centrera ikonerna */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

    
}
    .prev-image{
        border-left: none;
    }
    .next-image{
        right: 0;
        border-right: none;
    }
    .prev-image:hover, .next-image:hover{
        background-color: rgba(40, 40, 40, 0.8);        
    }
    .prev-image:active, .next-image:active{
        padding: 3px;
        background-color: rgba(60, 60, 60, 0.9);
    }

.dot-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.dot{
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    margin: 10px 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: var(--hover-transition-speed) ease;
}
    .dot:not(.active):hover{
        filter:brightness(50%);
    }
    .dot.active{
        /* transition endast TILL .dot.active. FRÅN använder transition i .dot */
        transition: var(--image-fadetime);
        background-color: rgb(170, 0, 65);
    }

