.fullscreen-container{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    /* Procent istället för vh/vw. */
    /* vw tar med scrollbaren i bredden så bilden blir inte centrerad */
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}
    .fullscreen-container .fullscreen-image{
        z-index: 100;
        object-fit: contain;
        max-width: 95%;        
        /* Måste vara vh, inte % */
        max-height: 85vh;


        width: 1200px;
        /* height: max(auto, 1000px);
        width: max(auto, 1000px); */


        /* drop-shadow istället för box-shadow, */
        /* för att box-shadow fungerar dåligt med object-fit */
        filter: drop-shadow(0 0 20px);
    }