.github-button{
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--white-darker);
    color: rgb(15, 15, 15);
    border: 1px solid gray;
    border-radius: 2px;    
    max-height: 1.6rem;
    /* Loggan och texten är bilder och inte helt centrerade */
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 5px;    
    transition: var(--hover-transition-speed);
}
    .github-button:hover{
        filter: brightness(90%)
    }
    .github-button .logo{
        font-size: 1.4rem;
    }
    .github-button .text{
        padding-left: 1px;
        font-size: 2.6rem;
    }