.navbar{
    --text-decoration: 3px underline #ffa600;
    --color-primary: var(--blue4);
    --color-secondary: var(--blue3);

    z-index: 99;
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    transition: border-radius var(--container-transition-speed);
    width: 100%;
    border-bottom: 1px solid gray;
}
.navbar .items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar a{
    display: block;
    color: white;
    padding: 10px 40px;    
    min-width: 2rem;    
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transition: var(--hover-transition-speed);
    /* text-decoration transparent för transition (default är färgen från color) */
    text-decoration-color: transparent;

}
    .navbar a:hover{
        background-color: rgba(255, 255, 255, 0.200);
        text-decoration: var(--text-decoration);
    }
.navbar .toTopButton{
    position: absolute;
    left: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--container-transition-speed);
}
    .navbar .toTopButton.active{
        visibility: visible;
        opacity: 100;
    }   


/* --- Dropdown --- */

.dropdown{
    position: relative;
}   
.dropdown-content{
    position: absolute;
    background-color: var(--color-secondary);
    width: max-content;
    min-width: min-content;
    display: none;
}
    .dropdown:hover .dropdown-content{
        display: block;
        
    }
.dropdown-content a{
    /* Ingen transition på dropdown items */
    transition: none;
    font-size: 0.95rem;
    font-weight: 600;
    text-align: left;
    padding: 25px;
}
    /* Underline på översta elementet när man hovrar länkar i dropdown */
    .dropdown:hover > a{
        text-decoration: var(--text-decoration);
    }
    .dropdown-content a:hover{
        text-decoration-thickness: 2px;
    }
.dropdown .dropdown-arrow{
    font-size: 0.6em;
    margin-left: 6px;
    transform: rotate(180deg);
}


/* --- Mobil --- */

.navbar .hamburger{
    display: none;        
}
.navbar .triangle{
    display: none;
}

@media screen and (max-width: 750px) {
    .navbar{
        position: sticky;        
        top: 20px;
        right: 0;    
        padding: 0 30px;  
        box-sizing: border-box;          
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: transparent;
        border: 0;
        max-width: 100%;
    }
        .navbar .items-container{
            background-color: var(--color-primary);
            /* margin med med auto i flex kollapsar andra sidan om det inte finns mer plats */
            position: absolute;
            top: 7em;
            display: none;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            border-radius: 15px;
            max-width: 100%;
            overflow: hidden;
        }
            .navbar .items-container.hamburgerOpen{
                display: flex;
            }
        .navbar .toTopButton{
            display: none;
        }
            .navbar .toTopButton.active{   
                display: flex;  
                position: relative;
                font-size: 1.5rem;
            }
        .navbar a{
            width: 100%;
            padding: 0 80px;
            height: 5rem;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar .dropdown{
            width: 100%;
        }
        .navbar .dropdown-content{
            display: none !important;
        }
        .navbar .hamburger{
            position: absolute;
            /* display: flex ger jämnare storlek (fyrkantigare) än display:block  */
            display: flex;
            padding: 5px;
            background-color: var(--color-primary);
            color: white; 
            border-radius: 50%;
            border: 0;
            font-size: 3.5rem;
            transition: var(--hover-transition-speed);
        }    
            .navbar .hamburger:hover{
                filter: brightness(110%);
            }
        .navbar .triangle{
            position: absolute;
            top: 3.8em;
            right: 1.75em;
            font-size: 1.5rem;
            display: block;
            color: var(--color-primary);
        }
    .navbar-border-fix{
        display: none;
    }
}

