.project-container{
    width: 100%;
    margin: 100px auto;
}
    .project-container .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .project-container .description{
        align-items: flex-start;
        white-space: pre-line;
        margin-top: 20px;
    }
        .project-container .description p{
            margin: 10px;
        }
