:root {
    --white-darker: rgb(245, 245, 245);
    --blue1: #002742;
    --blue2: #004677;
    --blue3: #005fa3;
    /* Går inte att göra om variabel rgb till rgba, */
    /* men kan använda färg som rgb-decimaler i rgba(var(), opacity) */
    --blue-light-rgb: 0, 160, 255;
    --blue-light: rgb(0, 160, 255);
    --orange-navbar: #ffa600;

    --navbar-background: var(--blue-light);

    --hover-transition-speed: 0.1s;    
    --container-transition-speed: 0.5s;
    --container-width: 1000px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body{
    background-color:#111111;
    background: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
h1{
    color: var(--blue1);
    font-size: 2rem;
}
h2{
    color: var(--blue2);
    font-size: 1.7rem;
    text-align: center;
}
h3{
    font-size: 1.5rem;
    color: var(--blue3);
}
h4{
    color: var(--blue3);
}
hr{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background: var(--blue3);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--blue3) 50%, rgba(0,0,0,0) 100%);
    border: none;
}
section{
    margin-top: 30px;
}

/* margin sätts i App.js */
/* Får inte ha overflow: hidden, förstör sticky navbar */
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: var(--container-width);
    max-width: 100%;
    transition: var(--container-transition-speed); 
}
    .container .content{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        width: 100%;
        padding: 30px 50px;
        padding-bottom: 100px;
        box-sizing: border-box;
        overflow: hidden;

    }

.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* rem istället för px så att storleken baseras på webbläsarens font-size. */
    /* För läsbarheten ska det inte vara för många tecken på en rad. */
    width: 40rem;
    max-width: 100%;
    margin: 0 auto;
}

/* ::marker fungerar bara med font-size och color i Safari. */
/* Använd ul{list-style: ;} för att byta utseende på punkterna. */
ul{
    list-style: disc;
    padding: 0 25px;
    margin: 0 2px;
}
    ul ul{list-style-type: disc;}
    ul li::marker{
        font-size: 1.6rem;
        color: var(--blue2);
    }
    ul ul li::marker{
        font-size: 1.5rem;
        color: var(--blue3);
    }
    ul ul ul{list-style-type: disc;}
    ul ul ul li::marker{
        font-size: 1.2rem;
        color: var(--blue-light);
    }